#label {
    margin: 50px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    min-height: 50px;
}

* {
    background-color: darkseagreen;
}

button {
    min-height: 50px;
    min-width: 130px;
    margin: 10px;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
}